1 ICON "app-event-filter.ico"
2 ICON "app-event.ico"
3 ICON "asterisk.ico"
4 ICON "beaker.ico"
5 ICON "cd-collection.ico"
6 ICON "cd.ico"
7 ICON "check-blue.ico"
8 ICON "check-green.ico"
9 ICON "check-orange.ico"
10 ICON "check-silver.ico"
11 ICON "clock-blue.ico"
12 ICON "clock-grey.ico"
13 ICON "clouds.ico"
14 ICON "cog.ico"
15 ICON "column.ico"
16 ICON "cube.ico"
17 ICON "curves-up-down.ico"
18 ICON "db-gold.ico"
19 ICON "db-grey.ico"
20 ICON "db-many-gold.ico"
21 ICON "dbfiles.ico"
22 ICON "dist-archive.ico"
23 ICON "dist.ico"
24 ICON "docs.ico"
25 ICON "download.ico"
26 ICON "drive.ico"
27 ICON "eventlog-error.ico"
28 ICON "eventlog-info.ico"
29 ICON "eventlog-warn.ico"
30 ICON "eventlog.ico"
31 ICON "file-text.ico"
32 ICON "fileshare.ico"
33 ICON "flag-blue.ico"
34 ICON "flag-green.ico"
35 ICON "flag-orange.ico"
36 ICON "flag-purple.ico"
37 ICON "flag-red.ico"
38 ICON "flow-bidirectional.ico"
39 ICON "git-repo.ico"
40 ICON "Interface-blue.ico"
41 ICON "interface-grey.ico"
42 ICON "key.ico"
43 ICON "keys.ico"
44 ICON "lock-1.ico"
45 ICON "lock-2.ico"
46 ICON "log.ico"
47 ICON "monitor.ico"
48 ICON "multiview.ico"
49 ICON "rdp.ico"
50 ICON "refresh.ico"
51 ICON "Report.ico"
52 ICON "run.ico"
53 ICON "script-generic.ico"
54 ICON "script-sql.ico"
55 ICON "search.ico"
56 ICON "server.ico"
57 ICON "servers.ico"
58 ICON "shell.ico"
59 ICON "shortcut.ico"
60 ICON "sigma.ico"
61 ICON "sql.ico"
62 ICON "table-generic.ico"
63 ICON "table-temporal.ico"
64 ICON "vhdx.ico"
65 ICON "world-blue.ico"
66 ICON "world-grey.ico"
